body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* .imageThumbnail {
  max-width: ;
} */


.price {
  font-weight: bold;
  font-size: 16px;
}


.dropdown-submenu {
                position: relative;
            }


            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: 0px;
                margin-left: 0px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }